.sign-menu {
  position: absolute;
  right: 24px;
  li a:hover {
    opacity: 0.7;
  }
}

@include media-breakpoint-up(lg) {
  .position-lg-absolute {
    position: absolute;
  }
  .translate-lg-middle {
    transform: translate(-50%, -50%);
  }
}

.banner {
  height: 480px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.foot-banner {
  height: 400px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-scroller {
  height: 2.75rem;
  overflow: hidden;
  border-bottom: 1px solid #707070;
}
.nav-scroller .nav {
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  @include media-breakpoint-down(md) {
    justify-content: flex-start;
  }
}
.nav-link {
  color: #707070;
  position: relative;
  &::before {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #E31277;
    position: absolute;
    top: 80%;
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  &:hover {
    color: #E31277;
    &::before{
      width: 100%;
    }
  }
}
