.product__ {
    &0 {
        height: 350px;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &1 {
        height: 350px;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/michel-catalisano--a0D9LpcKV8-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &2 {
        height: 350px;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/moralis-tsai-8xsktFRw28I-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &01 {
        height: 256px;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.banner__2 {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/people2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-text {
    @include media-breakpoint-up(md) {
        min-height: 350px;
    }
    p {
        font-size: 20px;
    }
    .mb-md-11 {
        font-size: 16px;
        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }
}
.date {
    position: absolute;
    right: 0;
    top: 0;
    @include media-breakpoint-up(md) {
        position: static;
        font-size: 20px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px!important; 
    @include media-breakpoint-up(md) {
        width: 350px!important; 
    }
}

.card-img-top {
    height: 375px;
    object-fit: cover;
    @include media-breakpoint-up(md) {
        width: 350px; 
    }
}

.banner__2 .bg-purple {
    padding-right: 15px;
    padding-left: 15px;
}